<mat-card>
  <div fxLayout="row" fxLayoutAlign="space-between start">
    <h1>{{ project.nameProject }}</h1>
    <p>Código: {{ project.codProject }}</p>
    <a>Editar</a>
  </div>
  <div
    fxLayout="row"
    fxLayoutAlign="start start"
    style="margin: -20px 0 20px 0"
  >
    <a href="{{ project.linkGitProject }}" target="_blank">Git</a>
  </div>
  <p>Administradores</p>
  <ng-container *ngFor="let admin of admins">
    <p style="font-weight: bold">{{ admin.nameAdmin }}</p>
  </ng-container>
  <mat-expansion-panel
    (opened)="panelOpenState = true"
    (closed)="panelOpenState = false"
  >
    <mat-expansion-panel-header>
      <mat-panel-title> Colaboradores </mat-panel-title>
    </mat-expansion-panel-header>
    <ng-container *ngFor="let collaborator of collaborators">
      <p>{{ collaborator.nameCollaborator }}</p>
    </ng-container>
  </mat-expansion-panel>
  <button
    class="btn"
    mat-raised-button
    color="primary"
    (click)="addColaborador()"
  >
    <mat-icon>add</mat-icon>
    Adicionar ou remover colaborador
  </button>
</mat-card>
