<mat-card>
  <div fxLayout="row" fxLayoutAlign="space-evenly center">
    <h2>Escolha o projeto</h2>
    <mat-form-field appearance="fill">
      <mat-label>Projeto</mat-label>
      <mat-select [(ngModel)]="idProject" name="project">
        <mat-option *ngFor="let project of projectList" [value]="project.idProject" >
          {{project.codProject}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-raised-button color="primary" style="margin-bottom: 10px;" (click)="getScore(idProject)">Ir</button>
  </div>
  <app-dashboard-points [totalScore]="totalScore"></app-dashboard-points>
  <div style="display: block">
    <canvas
      baseChart
      [data]="pieChartData"
      [labels]="pieChartLabels"
      [chartType]="pieChartType"
      [options]="pieChartOptions"
      [plugins]="pieChartPlugins"
      [legend]="pieChartLegend"
      [colors]="pieChartColor"
    >
    </canvas>
  </div>
  <!-- TODO Resolver problema no back que retorna pontos por colaborador -->
  <!-- <div style="display: block; margin-top: 2rem">
    <canvas
      baseChart
      [datasets]="barChartData"
      [labels]="barChartLabels"
      [options]="barChartOptions"
      [plugins]="barChartPlugins"
      [legend]="barChartLegend"
      [chartType]="barChartType"
      [colors]="barChartColor"
    >
    </canvas>
  </div> -->
</mat-card>
