<mat-card>
    <div fxLayout="row" fxLayoutAlign="space-evenly center">
    <h2>Escolha o projeto</h2>
    <mat-form-field appearance="fill">
        <mat-label>Projeto</mat-label>
        <select matNativeControl required>
          <option value="volvo">PROJ7225</option>
          <option value="saab">PROJ8235</option>
          <option value="mercedes">PROJ5535</option>
          <option value="audi">PROJ7235</option>
        </select>
      </mat-form-field>
      <button mat-raised-button color="primary">Ir</button>
    </div>
<app-dashboard-points></app-dashboard-points>
</mat-card>