<p style="margin-top: 15px">Adicionar colaboradores</p>
<div fxLayout="row" fxLayoutAlign="space-between center">
  <div class="col-12 search-person">
    <mat-form-field>
      <mat-label>Adicionar colaborador</mat-label>
      <input matInput />
    </mat-form-field>
  </div>
  <button mat-icon-button color="primary">
    <mat-icon>person_search</mat-icon>
  </button>
</div>
<a>Adicionar</a>
<mat-form-field appearance="fill" style="margin-top: 12px">
  <mat-label>Colaboradores</mat-label>
  <select matNativeControl>
    <option value="volvo">Volvo</option>
    <option value="saab">Saab</option>
    <option value="mercedes">Mercedes</option>
    <option value="audi">Audi</option>
  </select>
</mat-form-field>
<a>Remover</a>
