<mat-card>
    <mat-card-subtitle>Colaborador</mat-card-subtitle>
    <div fxLayout="row" fxLayoutAlign="start start">
      <span class="material-icons" style="font-size: 40px"> person_add </span>
      <div
        fxLayout="column"
        fxLayoutAlign="start start"
        style="margin-left: 12px"
      >
        <p>Nome</p>
        <p>Usuário</p>
      </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="end start" style="margin-top: -40px">
      <button mat-raised-button color="primary">Aprovar</button>
      <button mat-button color="primary" class='btn'>Excluir</button>
    </div>
  </mat-card>